* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addTodo,
.container {
  margin-top: 20px;
}

input[type="text"] {
  width: 200px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 7px;
  padding-left: 5px;
}

button {
  width: 70px;
  height: 25px;
  border: 1px solid black;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  list-style: none;
}

li,
.btnClearAll {
  margin-top: 10px;
}

li span,
input[type="checkbox"] {
  margin-right: 10px;
}

.btnClearAll {
  align-self: center;
}
